{"dingtalkToken":"7300e7e3720b966d8b73dd316de5b96aab72669bf9a6fc0b3869f784e0d46d15","featurePrefix":"feature/","hotfixPrefix":"hotfix/","language":"EN","masterBranch":"main","releaseBranch":"release","releaseFinishIsDeleteFeature":false,"releaseFinishIsDeleteRelease":false,"tagPrefix":"","testBranch":"test"}
